<!DOCTYPE HTML>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta name="viewport" content="width=device-width,initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
<import type="js" file="Js.Jquery" />
<import type="js" file="Js.common" />
</head>
<body>
<form method="post" action="">
 <div class="line"  id="">
    <div class="input_left">产品名称： {$ad.title}</div>
  
</div>
<br/>
 <div class="line"  id="supply_price">
    <div class="input_left">供货价： <input type="text" name="supply_price" value="{$ad.supply_price}" maxlength="10" /></div>
    
</div>
<br/>
<div class="line"> 
    <input type="submit"  value="提交" class="button" name="submit"/>
    <input type="reset" name="reset" value="重置" class="button"/>
</div>

</form>
</body>