@CHARSET "UTF-8";
a {text-decoration:none;}
a:hover {color:red;}
.data_list { width:100%;  background-color:#ccc; border:0px; text-align:center;margin-top:10px;}
.data_list .tr0 { background:#fff; border:0px; }
.data_list .tr1 { background:#f5f5f5; border:0px; }
.data_list td{ padding-left:3px;}
.data_list .tr0:hover { background:#fafafa; cursor:hand; cursor:pointer;}
.data_list .tr1:hover { background:#f0f0f0;cursor:hand; cursor:pointer;}

.data_list th { background:#e0e0e0; padding-left:2px; border:0px; }

table { width:100%;  background-color:#ccc; border:0px; text-align:center;margin-top:10px;}
table .tr0 { background:#fff; border:0px; }
table .tr1 { background:#f5f5f5; border:0px; }
table td{ padding-left:3px;}
table .tr0:hover { background:#fafafa; cursor:hand; cursor:pointer;}
table .tr1:hover { background:#f0f0f0;cursor:hand; cursor:pointer;}

table th { background:#e0e0e0; padding-left:2px; border:0px; }
fieldset { width:98%; }

    #current_page {
        border:solid 1px #F50;
	    color:#f60; 
	    font-weight:500; 
	    font-size:14px; 
	    background-color:#FFEEE5;
    }
    .page_a { 
        margin:5px; 
        font-size:14px;
    	cursor:pointer;
    }
    .page_num { 
        margin:5px; 
        padding:0px 2px;
    	cursor:pointer;  
    }