<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>超市产品订单</title>
<import type="css" file="Css.common" />
<import type="js" file="Js.Jquery" />
<import type="js" file="Js.cat" />
<import type="js" file="Js.DatePicker.WdatePicker" />
<script>
var module = "__MODULE__";
</script>  
<script type="text/javascript">
  
	//全选，全不选
	var allSelect = function () 
	{			
        $("input[name='checkname[]']").each(function()
		{
			
			if($(this).attr("checked") != "checked")
			{
                $(this).attr("checked", "checked");
			}
			else
			{
                $(this).removeAttr("checked");
			}
		});
	}

	//反选
	function otherSelect() {
		$(":checkbox").each(function () {
			if ($(this).attr("checked") == "checked") {
				$(this).removeAttr("checked");
			}
			else {
				$(this).attr("checked", "checked");
			}
		});
	}
	
	function delConfirm(url)
	{		
		msg = "确定要删除？"
		if(confirm(msg))
		{
			location.href=url;
		}
	}
</script>
</head>
<body>

<!-- 顶部页面导航 -->
<include file="./Application/Home/View/topNav.html" title="超市列表" url="__MODULE__/order/edit" url_name="添加超市"/>

<!-- 搜索模块 -->
<div class="search_div">
    <form action="" method="get">
                    关键字：
        <input type="text" name="name" value="{$titleWhere}" />
                   上线时间：
        <input type="text" size="15" name="start_time" value="{$startWhere}" onFocus="WdatePicker({dateFmt:'yyyy-MM-dd HH:mm:ss'})" /><bold>~</bold>
        <input type="text" size="15" name="end_time" value="{$endWhere}" onFocus="WdatePicker({dateFmt:'yyyy-MM-dd HH:mm:ss'})" />
        <input style="margin-left:35px;" class="button" type="submit" name="submit" value="搜索" />
    </form>
</div>

<!-- 列表样式 -->
<form action="__MODULE__/order/delete" method="get">
    <div class="data-list" >
        <table cellspacing="1" cellpadding="3">
            <tbody>
                <tr>
                    <th><input type="checkbox" id="checkall" name="checkbox" onClick="allSelect()" value="全选" />编号</th>
                    <th>订单编号</th>
                    <th>总金额(元)</th>
                    <th>                            下单时间
	                    <a class="sort" href="__MODULE__/order/index?sort=create_time desc&where={$where}">降序</a> 
	                    <a class="sort" href="__MODULE__/order/index?sort=create_time asc&where={$where}">升序</a>
                    </th>
                    <th>发货时间</th>
                    <th>收货人</th>
                    <th>联系方式</th>
                    <th>是否自提</th>
                    <th>收货地址</th>
                    
                    <th>操作</th>
                </tr> 
                <empty name="list">		    
			    <tr>
                    <td class="no-records" colspan="7" style="background-color: rgb(244, 250, 251);">没有找到任何记录</td>
                </tr> 
	             <else />
                <foreach name="list" item="order" key="k">
                <tr class="tr{$k%2}">
				      <td><input type="checkbox" id="Checkbox{$k}" name="checkname[]" value="{$order.id}" />{$pageCount*($currentPage-1)+$k+1}</td>
				      <td>{$order.id}</td>
				      <td>{$order.total_fee}</td>
				      <td>{$order.create_time}</td>
				      <td>{$order.sub_time}</td>
				      <td>{$order.user_name}</td>
				      <td>{$order.phone}</td>
				      <td>{$order["is_picked"]=='Y'?'是':'否'}</td>
				      <td>{$order.province}{$order.city}{$order.area}{$order.address}</td>
				     
					  <td>
					  	<a href="__MODULE__/store/order_detail?id={$order.id}"><img src="__PUBLIC__/images/icon_view.gif" /></a>
					  </td>
			    </tr>     
                </foreach>
                 <tr>
	                <td><input class="button" type="submit" value="删除" /></td>
	                <td colspan="7">{$page}</td>
                </tr>
                </empty>
            </tbody>
        </table>
    </div>
</form>
</body>
</html>