<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>推广人结算详情</title>
<import type="css" file="Css.partner.style" />
<import type="css" file="Css.partner.common" />
</head>
<body>
<div class="data-list">
 	<table cellspacing="1" cellpadding="3">
        <thead>
             <tr>
                 <th>员工姓名</th>
                 <th>未提成收入</th>
             </tr> 
             </thead>
       <empty name="rows">
       <tr>
       	<td class="no-records"  colspan="6" >没有找到任何记录</td>
       </tr>
			<else />
		 <foreach name="rows" item="row" key="i">
			<tr class="tr2">
		     	<td>{$row.user_name}</td>
				<td>{$row.settle_fee}</td>
			</tr>
			 </foreach> 
    </empty>
     </table>
	<form method="post" name="myform">
     <div class="acc">
    	 <p>申请时间：{$applyTime}</p>
   	     <p>收入总计（元）：{$total}</p>
	</div> 
</form>
</div>
</body>
</html>