<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>添加课程</title>
<include file="./Application/Home/View/include/head.html" />

<import type="js" file="Js.Jquery" />
    <import type="js" charset="utf-8" file="Js.editor.kindeditor" />
    <import type="js" charset="utf-8" file="Js.editor.lang.zh_CN" />
    <import type="js" file="Js.DatePicker.WdatePicker" />
<import type="css" file="Css.common" />
<import type="css" file="Css.category" />
    <script type="text/javascript">
        /*** 富文本编辑器 Start **/
        var editor;
        KindEditor.ready(function(K) {
            editor = K.create('textarea[name="content"]', {
                width: "600px",
                height: "200px",
            });
        });
        /*** 富文本编辑器 End **/
    </script>
</head>
<body>
<include file="./Application/Home/View/topNav.html" title="添加课程"  url_name="添加课程"/>

<div class="form_div">
<form enctype="multipart/form-data"  method="post" action="" name="form1">
<input type="hidden" value="addUser" name="act" />
<table>

    <tr>
        <td class="label">课程名称：</td>
        <td class="value">
        <input type="text" name="project_name" value="{$one.project_name}"/>
        </td>
    </tr>
    <tr>
        <td class="label">课程价格：</td>
        <td class="value">
            <input type="text" name="price" value="{$one.price}"/>
        </td>
    </tr>
    <tr>
        <td class="label">上线时间：</td>
        <td class="value">
            <input type="text" name="uptime" value="{$one.uptime}" onFocus="WdatePicker({dateFmt:'yyyy-MM-dd'})" />
        </td>
    </tr>
    <tr>
        <td class="label">课程内容:</td>
        <td class="value">
            <textarea  type="text"  name="content">{$one.content}</textarea>
        </td>
    </tr>
    <tr>
        <td></td>
        <td style="text-align:left;">
            <input class="button" type="submit" name="submit" value="添加">
            <input class="button" type="reset" value="重置"/>
        </td>
    </tr>
</table>
</form>
</div>

</body>
</html>