<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>统计查询</title>
<import type="css" file="Css.common" />
</head>
<body>
<include file="./Application/Home/View/topNav.html" title="用户收入" url="__MODULE__/advertisement/index" url_name="商品列表"/>


<!-- 搜索模块 -->
<div class="search_div">
    <form action="__MODULE__/App/userFee">
        <img width="26" height="22" border="0" alt="search" src="__PUBLIC__/images/icon_search.gif" />
                    用户名     
        <input type="text" size="15" name="user_name" value="{$usernameWhere}"/>
       
        <input class="button" type="submit" name="submit" value="搜索" />
    </form>
</div>
<div class="data-list" >
     <table cellspacing="1" cellpadding="3">
         <tbody>
         
             <tr>
	             <th>编号</th>
                 <th>用户名</th>           
	             <th>推广费用
                 <a class="sort" href="__MODULE__/App/userFee?sort=total_fee desc&where={$where}">降序</a> 
		         <a class="sort" href="__MODULE__/App/userFee?sort=total_fee asc&where={$where}">升序</a>
	             </th>
             <tr>
             <empty name="data">
             <tr>
                 <td class="no-records" colspan="5" style="background-color: rgb(244, 250, 251);">没有找到任何记录</td>
             </tr> 
             <else />
             <foreach name="data" item="appFee" key="i">
	             <tr class="tr{$i%2}">
	                 <td>{$pageCount*($currentPage-1)+$i+1}</td>
	                 <td><a href="__MODULE__/App/userInfo?id={$appFee.id}">{$appFee.user_name}</a></td>	             	        
		             <td>{$appFee.total_fee}</td>
	             </tr>
             </foreach> 
             <tr><td colspan="3">{$page}</td></tr>
             </empty> 
             
         </tbody>
     </table>
 </div>
   
</body>
</html>